# Dependencies
/node_modules
/frontend/node_modules

# Build artifacts
/build
/dist
/frontend/dist

# Data files - It's better to not commit large data files
/data/

# Environment variables
.env
.env*.local

# IDE and OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
